{% extends 'base.html' %}

{% load staticfiles %}


{% block mainContent %}

<div class="row mt-5">
    <div class="col-xl-8 mb-5 mb-xl-0">

        <div id="map" class="card" style="height:435px; width:-webkit-fill-available;"></div>

    </div>
    <div class="col-xl-4 mb-5 mb-xl-0">

        <div class="card bg-gradient-default shadow" style="display: inline-block; width: -webkit-fill-available;">

            <div class="card-header bg-transparent">
                <div class="col">
                    <h6 class="text-uppercase text-light ls-1 mb-1">Live</h6>
                    <h2 class="text-white mb-0">Current Accidents</h2>
                </div>
            </div>

            <div class="card-body">
                Details about the selected accident here
            </div>


        </div>

    </div>
</div>

{% endblock %}


{% block extraJS %}

<script>
    var map;
    const baseURL = 'http://127.0.0.1:8000/';
    // var marker;

    function initMap() {

        map = new google.maps.Map(document.getElementById('map'), {
            center: {
                lat: 12.9716,
                lng: 77.5946,
            },
            zoom: 10
        });

        var markers = [];

        function addMarker(coords, id=0) {
            var marker = new google.maps.Marker({
                position: coords,
                map: map,
            });

            var markOb = {
                position: coords,
                marker: marker,
            }

            markers[markers.length] = markOb;
            google.maps.event.addListener(marker, 'click', function() {
                // To be coded Tomorrow
                console.log(id);

                /*
                    To be coded Tomorrow
                    Handle the marker click here to display that particular accident's details on the side card
                */
            });
        }

        function removeMarker(coords) {
            var markCoord, markInFocus;
            for (i = 0; i < markers.length; i++) {
                markCoord = markers[i]['position'];
                markInFocus = markers[i]['marker'];

                if (markCoord == coords) {
                    markInFocus.setMap(null);
                    break;
                }
            }
        }

        setInterval(function()
        {

            const requestURL = baseURL + 'accitracker/getactiveacci/';
            var request = new XMLHttpRequest();

            request.open('GET', requestURL, true);
            request.onload = function() {
                // Begin accessing JSON data here
                var accidents = JSON.parse(this.response);


                var accident, coord, flag;

                for(i=0; i<accidents.length; i++)
                {
                    accident = accidents[i];
                    coord = {
                        lat: accident.lat,
                        lng: accident.lng,
                    }

                    flag = false;
                    for(j=0; j<markers.length; j++){
                        if(markers.position == coord){
                            flag = true;
                        }
                    }

                    if(flag == false){
                        addMarker(coord, accident.id);
                    }
                }
            }
            request.send();
            console.log("checked");
        }, 3000);


        // coord = {
        //     lat: 12.9308,
        //     lng: 77.5802,
        // };
        // addMarker(coord);
        // console.log(markers);

    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC31Q7lRlTmKColkbpbFRdiYGJs7yQ2QUA&callback=initMap" async defer></script>

<!-- <script type="text/javascript">

    const baseURL = 'http://127.0.0.1:8000/';

    function getActiveAccidents()
    {

        const requestURL = baseURL + 'accitracker/getactiveacci/';
        var request = new XMLHttpRequest();

        request.open('GET', requestURL, true);
        request.onload = function() {
            // Begin accessing JSON data here
            var accidents = JSON.parse(this.response);
            console.log(accidents[0]);

            var accident, coord, flag;

            for(i=0; i<data.length; i++)
            {
                accident = accidents[i];
                coord = {
                    lat: accident.lat,
                    lng: accident.lng,
                }

                flag = false;
                for(j=0; j<markers.length; j++){
                    if(markers.position == coord){
                        flag = true;
                    }
                }

                if(flag == false){
                    addMarker(coord, id);
                }
            }
        }
        request.send();
    }

    serInterval(getActiveAccidents(), 2000);
</script> -->

{% endblock %}
